h1 {
  font-size: 1.5em;
  background-color: rgb(65, 5, 5);
  margin: 1em;
  padding: .5em;
  color: rgb(241, 241, 241);
}

header,
footer {
  background-color: black;
  color: white;
  padding: .5em;
}

header a {
  color: yellow;
  text-decoration: none;
}